USE [FactoryDB]
GO

/****** Object:  Table [dbo].[StockOutHistory]    Script Date: 2026-04-25 오전 1:48:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StockOutHistory]') AND type in (N'U'))
DROP TABLE [dbo].[StockOutHistory]
GO
/****** Object:  Table [dbo].[ProductionEvent]    Script Date: 2026-04-25 오전 1:48:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductionEvent]') AND type in (N'U'))
DROP TABLE [dbo].[ProductionEvent]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2026-04-25 오전 1:48:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inventory]') AND type in (N'U'))
DROP TABLE [dbo].[Inventory]
GO
/****** Object:  Table [dbo].[DeliveryItem]    Script Date: 2026-04-25 오전 1:48:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeliveryItem]') AND type in (N'U'))
DROP TABLE [dbo].[DeliveryItem]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 2026-04-25 오전 1:48:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Delivery]') AND type in (N'U'))
DROP TABLE [dbo].[Delivery]
GO
/****** Object:  Table [dbo].[CameraConfig]    Script Date: 2026-04-25 오전 1:48:14 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CameraConfig]') AND type in (N'U'))
DROP TABLE [dbo].[CameraConfig]
GO
/****** Object:  Table [dbo].[CameraConfig]    Script Date: 2026-04-25 오전 1:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CameraConfig](
	[CameraId] [int] IDENTITY(1,1) NOT NULL,
	[CameraName] [nvarchar](100) NOT NULL,
	[RtspUrl] [nvarchar](500) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ObjectRoiX] [float] NOT NULL,
	[ObjectRoiY] [float] NOT NULL,
	[ObjectRoiW] [float] NOT NULL,
	[ObjectRoiH] [float] NOT NULL,
	[LabelRoiX] [float] NOT NULL,
	[LabelRoiY] [float] NOT NULL,
	[LabelRoiW] [float] NOT NULL,
	[LabelRoiH] [float] NOT NULL,
	[CheckRotation] [bit] NOT NULL,
	[CheckLabel] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CameraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 2026-04-25 오전 1:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[DeliveryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[Address] [nvarchar](300) NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[Memo] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryItem]    Script Date: 2026-04-25 오전 1:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryItem](
	[DeliveryItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[DeliveryId] [bigint] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_DeliveryItem] PRIMARY KEY CLUSTERED 
(
	[DeliveryItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2026-04-25 오전 1:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[InDate] [datetime] NOT NULL,
	[InQuantity] [int] NOT NULL,
	[RemainQuantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionEvent]    Script Date: 2026-04-25 오전 1:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionEvent](
	[EventId] [bigint] IDENTITY(1,1) NOT NULL,
	[CameraId] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[EventTime] [datetime] NOT NULL,
	[ProductionCount] [int] NOT NULL,
	[SnapshotPath] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DeltaCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOutHistory]    Script Date: 2026-04-25 오전 1:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOutHistory](
	[StockOutId] [bigint] IDENTITY(1,1) NOT NULL,
	[DeliveryId] [bigint] NOT NULL,
	[DeliveryItemId] [bigint] NOT NULL,
	[InventoryId] [bigint] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[OutQuantity] [int] NOT NULL,
	[OutDate] [datetime] NOT NULL,
 CONSTRAINT [PK_StockOutHistory] PRIMARY KEY CLUSTERED 
(
	[StockOutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CameraConfig] ON 

INSERT [dbo].[CameraConfig] ([CameraId], [CameraName], [RtspUrl], [Enabled], [ProductName], [ObjectRoiX], [ObjectRoiY], [ObjectRoiW], [ObjectRoiH], [LabelRoiX], [LabelRoiY], [LabelRoiW], [LabelRoiH], [CheckRotation], [CheckLabel], [CreatedAt]) VALUES (1, N'cam1', N'rtsp://admin:chan1324!@cksdnr9923.iptime.org:8554/Streaming/Channels/101', 1, N'향수병 검사', 732, 138, 572, 543, 882, 375, 279, 216, 1, 1, CAST(N'2026-03-24T13:48:18.807' AS DateTime))
INSERT [dbo].[CameraConfig] ([CameraId], [CameraName], [RtspUrl], [Enabled], [ProductName], [ObjectRoiX], [ObjectRoiY], [ObjectRoiW], [ObjectRoiH], [LabelRoiX], [LabelRoiY], [LabelRoiW], [LabelRoiH], [CheckRotation], [CheckLabel], [CreatedAt]) VALUES (3, N'cam2', N'rtsp://admin:chan1324!@cksdnr9923.iptime.org:9554/Streaming/Channels/101', 0, N'테스트용 cam2', 768, 218, 376, 478, 797, 374, 306, 222, 1, 1, CAST(N'2026-04-08T00:38:52.747' AS DateTime))
INSERT [dbo].[CameraConfig] ([CameraId], [CameraName], [RtspUrl], [Enabled], [ProductName], [ObjectRoiX], [ObjectRoiY], [ObjectRoiW], [ObjectRoiH], [LabelRoiX], [LabelRoiY], [LabelRoiW], [LabelRoiH], [CheckRotation], [CheckLabel], [CreatedAt]) VALUES (4, N'4', N'rtsp://admin:chan1324!@cksdnr7979223.iptime.org:8554/Streaming/Channels/101', 0, N'123제품', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, CAST(N'2026-04-08T13:55:36.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[CameraConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([DeliveryId], [CustomerName], [PhoneNumber], [Address], [DeliveryDate], [Memo], [CreatedAt], [UpdatedAt]) VALUES (1, N'홍길동', N'010-1234-5678', N'서울시 강남구', CAST(N'2026-03-24T10:00:00.000' AS DateTime), N'테스트 납품', CAST(N'2026-03-24T21:59:03.283' AS DateTime), NULL)
INSERT [dbo].[Delivery] ([DeliveryId], [CustomerName], [PhoneNumber], [Address], [DeliveryDate], [Memo], [CreatedAt], [UpdatedAt]) VALUES (2, N'1', N'1', N'1', CAST(N'2026-03-24T22:28:50.560' AS DateTime), N'1', CAST(N'2026-03-24T22:28:59.943' AS DateTime), NULL)
INSERT [dbo].[Delivery] ([DeliveryId], [CustomerName], [PhoneNumber], [Address], [DeliveryDate], [Memo], [CreatedAt], [UpdatedAt]) VALUES (3, N'2', N'2', N'2', CAST(N'2026-03-24T22:52:15.717' AS DateTime), N'3', CAST(N'2026-03-24T22:52:25.057' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryItem] ON 

INSERT [dbo].[DeliveryItem] ([DeliveryItemId], [DeliveryId], [ProductName], [Quantity], [CreatedAt]) VALUES (1, 1, N'향수병 검사', 5, CAST(N'2026-03-24T21:59:03.297' AS DateTime))
INSERT [dbo].[DeliveryItem] ([DeliveryItemId], [DeliveryId], [ProductName], [Quantity], [CreatedAt]) VALUES (2, 2, N'향수병 검사', 1, CAST(N'2026-03-24T22:28:59.953' AS DateTime))
INSERT [dbo].[DeliveryItem] ([DeliveryItemId], [DeliveryId], [ProductName], [Quantity], [CreatedAt]) VALUES (3, 3, N'향수병 검사', 3, CAST(N'2026-03-24T22:52:25.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[DeliveryItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryId], [ProductName], [InDate], [InQuantity], [RemainQuantity], [CreatedAt]) VALUES (1, N'향수병 검사', CAST(N'2026-03-01T09:00:00.000' AS DateTime), 100, 61, CAST(N'2026-03-24T21:39:53.293' AS DateTime))
INSERT [dbo].[Inventory] ([InventoryId], [ProductName], [InDate], [InQuantity], [RemainQuantity], [CreatedAt]) VALUES (2, N'향수병 검사', CAST(N'2026-03-10T09:00:00.000' AS DateTime), 80, 80, CAST(N'2026-03-24T21:39:53.293' AS DateTime))
INSERT [dbo].[Inventory] ([InventoryId], [ProductName], [InDate], [InQuantity], [RemainQuantity], [CreatedAt]) VALUES (3, N'향수병 검사', CAST(N'2026-03-20T09:00:00.000' AS DateTime), 60, 60, CAST(N'2026-03-24T21:39:53.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionEvent] ON 

INSERT [dbo].[ProductionEvent] ([EventId], [CameraId], [ProductName], [EventTime], [ProductionCount], [SnapshotPath], [CreatedAt], [DeltaCount]) VALUES (914, 1, N'향수병 검사', CAST(N'2026-04-24T10:00:00.000' AS DateTime), 1, NULL, CAST(N'2026-04-24T20:27:35.290' AS DateTime), 1)
INSERT [dbo].[ProductionEvent] ([EventId], [CameraId], [ProductName], [EventTime], [ProductionCount], [SnapshotPath], [CreatedAt], [DeltaCount]) VALUES (915, 1, N'향수병 검사', CAST(N'2026-04-24T10:10:00.000' AS DateTime), 2, NULL, CAST(N'2026-04-24T20:27:35.290' AS DateTime), 1)
INSERT [dbo].[ProductionEvent] ([EventId], [CameraId], [ProductName], [EventTime], [ProductionCount], [SnapshotPath], [CreatedAt], [DeltaCount]) VALUES (916, 1, N'향수병 검사', CAST(N'2026-04-24T10:20:00.000' AS DateTime), 3, NULL, CAST(N'2026-04-24T20:27:35.290' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[ProductionEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[StockOutHistory] ON 

INSERT [dbo].[StockOutHistory] ([StockOutId], [DeliveryId], [DeliveryItemId], [InventoryId], [ProductName], [OutQuantity], [OutDate]) VALUES (1, 1, 1, 1, N'향수병 검사', 5, CAST(N'2026-03-24T21:59:03.413' AS DateTime))
INSERT [dbo].[StockOutHistory] ([StockOutId], [DeliveryId], [DeliveryItemId], [InventoryId], [ProductName], [OutQuantity], [OutDate]) VALUES (2, 2, 2, 1, N'향수병 검사', 1, CAST(N'2026-03-24T22:28:59.983' AS DateTime))
INSERT [dbo].[StockOutHistory] ([StockOutId], [DeliveryId], [DeliveryItemId], [InventoryId], [ProductName], [OutQuantity], [OutDate]) VALUES (3, 3, 3, 1, N'향수병 검사', 3, CAST(N'2026-03-24T22:52:25.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[StockOutHistory] OFF
GO
ALTER TABLE [dbo].[CameraConfig] ADD  CONSTRAINT [DF_CameraConfig_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[CameraConfig] ADD  CONSTRAINT [DF_CameraConfig_CheckRotation]  DEFAULT ((1)) FOR [CheckRotation]
GO
ALTER TABLE [dbo].[CameraConfig] ADD  CONSTRAINT [DF_CameraConfig_CheckLabel]  DEFAULT ((1)) FOR [CheckLabel]
GO
ALTER TABLE [dbo].[CameraConfig] ADD  CONSTRAINT [DF_CameraConfig_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Delivery] ADD  CONSTRAINT [DF_Delivery_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeliveryItem] ADD  CONSTRAINT [DF_DeliveryItem_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionEvent] ADD  CONSTRAINT [DF_ProductionEvent_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductionEvent] ADD  DEFAULT ((0)) FOR [DeltaCount]
GO
ALTER TABLE [dbo].[StockOutHistory] ADD  CONSTRAINT [DF_StockOutHistory_OutDate]  DEFAULT (getdate()) FOR [OutDate]
GO
ALTER TABLE [dbo].[DeliveryItem]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryItem_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[Delivery] ([DeliveryId])
GO
ALTER TABLE [dbo].[DeliveryItem] CHECK CONSTRAINT [FK_DeliveryItem_Delivery]
GO
ALTER TABLE [dbo].[ProductionEvent]  WITH CHECK ADD  CONSTRAINT [FK_ProductionEvent_CameraConfig] FOREIGN KEY([CameraId])
REFERENCES [dbo].[CameraConfig] ([CameraId])
GO
ALTER TABLE [dbo].[ProductionEvent] CHECK CONSTRAINT [FK_ProductionEvent_CameraConfig]
GO
ALTER TABLE [dbo].[StockOutHistory]  WITH CHECK ADD  CONSTRAINT [FK_StockOutHistory_Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[Delivery] ([DeliveryId])
GO
ALTER TABLE [dbo].[StockOutHistory] CHECK CONSTRAINT [FK_StockOutHistory_Delivery]
GO
ALTER TABLE [dbo].[StockOutHistory]  WITH CHECK ADD  CONSTRAINT [FK_StockOutHistory_DeliveryItem] FOREIGN KEY([DeliveryItemId])
REFERENCES [dbo].[DeliveryItem] ([DeliveryItemId])
GO