.vs/
bin/
obj/
captures/
*.user
*.log
*.zip
*.suo
TestResults/
publish/
artifacts/

appsettings.Development.json
appsettings.Local.json
.env

FactoryApi/tools/mediamtx/mediamtx.exe
FactoryApi/tools/mediamtx/*.log